@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



    <div class="card temp">
        <h5 class="text-center" >Location Information</h5>
        <p>Location: </p>
        <p>Logitude: </p>
        <p>Latitude: </p>
        <p>Wind speed: </p>
    </div>



    <div class="card">
        <h5 class="text-center">Hobor Status</h5>
        <p>Status: Occupied</p>
    </div>


@*Please disable this form/inputs if status id occupied*@

    <div class="card">
        <h5 class="text-center">Board Information</h5>
        @*Select boat type using dropdown arrow*@

        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Select board type
            </button>
            <div class="dropdown-menu">
                @{
                    //var boardTypes = new List<string>() { "Speed board", "Cargo ship", "Sailboard" };

                    foreach (var boardType in Model._boardList)
                    {
                        <a class="dropdown-item" href="#">@boardType</a>
                    }
                }
            </div>
        </div>
        <p>Location: </p>
        <p>Logitude: </p>

    </div>


@*Output*@

    <div class="card">
        <h5 class="text-center">Action</h5>
        <p>Location: </p>
        <p>Logitude: </p>
    </div>

